
$color--shade-n0:     #000 !default;
$color--shade-n20:    #4A4A4A !default;
$color--shade-n70:    #E5E5E5 !default;
$color--shade-n80:    #F5F5F5 !default;
$color--shade-n100:   #FFF !default;

$color--state-active: #83d22a !default;

$color--background:    $color--shade-n80 !default;
$color--surface:       $color--shade-n100 !default;

$color--text-strong:   $color--shade-n0 !default;
$color--text-light:    $color--shade-n20 !default;
